/* 1. Global - Set up the things
/* ---------------------------------------------------------- */

@import '000-global';

body {
	background-color: rgb(238, 174, 202);
	background-image: linear-gradient(
		to top,
		#30cfd0 0%,
		#330867 70%,
		black 100%
	);
}

img {
	&.post-card-image {
		overflow: hidden;
		-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	}
}

.img {
	display: block;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: cover;
	border-radius: 100%;
}

.hidden {
	visibility: hidden;
	position: absolute;
	text-indent: -9999px;
}

.bg {
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: scroll;
	background-size: auto;
	background-repeat: repeat;
	background-position: center center;
}

.hide-scroll {
	overflow: hidden;
	height: 100vh;
	&::-webkit-scrollbar,
	*::-webkit-scrollbar {
		display: none;
		scrollbar-width: none;
	}
}
