/* 6. Post Feed
/* ---------------------------------------------------------- */
$post-feed-spacing: 8px;

.posts {
	overflow-x: hidden;
}

.post-feed {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: 0 (-$post-feed-spacing);
	padding: 50px 0 0;
	/* background: #fff; */
}

.post-card {
	position: relative;
	flex: 1 1 301px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// margin: 0 0 40px;
	margin-bottom: 20px;
	// padding: 0 20px 40px;
	padding-left: $post-feed-spacing;
	padding-right: $post-feed-spacing;
	padding-bottom: 20px;
	min-height: 220px;
	// edit
	border-bottom: 1px solid rgba(233, 238, 241, 0.2);
	background-size: cover;
}

.post-card-image-link {
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 4px;
	margin-right: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 4px 4px 0 rgba(180, 180, 180, 0.8),
		4px 5px 0 rgba(0, 0, 0, 0.158);
}

.post-card-image {
	width: 100%;
	height: 200px;
	background: #c5d2d9 no-repeat center center;

	object-fit: cover;
	overflow: hidden;
}

.post-card-content-link {
	position: relative;
	display: block;
	color: #15171a;

	&:hover {
		text-decoration: none;
	}
}

.post-card-header {
	margin: 15px 0 0;
}

.post-feed .no-image .post-card-content-link {
	padding: 0;
}

.no-image .post-card-header {
	margin-top: 0;
}

.post-card-primary-tag {
	margin: 0 0 0.2em;
	color: #3eb0ef;
	font-size: 1.2rem;
	font-weight: 500;
	letter-spacing: 0.2px;
	text-transform: uppercase;
}

.post-card-title {
	margin: 0 0 0.4em;
	line-height: 1.15em;
	transition: color 0.2s ease-in-out;

	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	/* -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0))); */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.no-image .post-card-title {
	margin-top: 0;
}

.post-card-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	word-break: break-word;

	// edit
	.post-feed & {
		/* background-color: rgb(238, 174, 202); */
		background-image: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.8) 0%,
			rgb(255, 255, 255) 100%
		);
		padding: 8px;
		border-radius: 8px;
		box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
		margin-top: 10px;
		margin-bottom: 24px;
		margin-right: 10px;
		margin-left: 10px;
		position: relative;

		.tag-draft & {
			&:before {
				// TAG
				position: absolute;
				right: 0;
				transform: rotate(45deg) translateX(24%) translateY(-102%);
				content: 'Draft';
				background-color: #330867;
				padding: 8px;
				width: 200px;
				text-align: center;
				color: white;
				white-space: pre;
				border-top: 4px solid #0fb8ad;
				border-bottom: 4px solid #0fb8ad;
				outline: 4px solid rgba(51, 8, 103, 0.94);
				line-height: 1em;
				font-weight: bold;
				box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.5);
			}
		}
	}
}

.post-card-excerpt {
	max-width: 56em;
	color: #738a94;
	font-family: $base-font-family, Georgia, serif;

	p {
		margin-bottom: 1em;
	}
}

.post-card-meta {
	display: flex;
	align-items: flex-start;
	padding: 0;
	// edit
	.post-feed & {
		position: absolute;
		top: calc(100% - 16px);
		// transform: translateY(-50%);
	}
}

.author-profile-image,
.avatar-wrapper {
	display: block;
	width: 100%;
	height: 100%;
	background: rgb(227, 233, 237);
	border-radius: 100%;

	object-fit: cover;
}

.post-card-meta {
	.profile-image-wrapper,
	.avatar-wrapper {
		position: relative;
	}
}
.author-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 0 4px;
	padding: 0;
	list-style: none;
}

.author-list-item {
	position: relative;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
}

.static-avatar {
	display: block;
	overflow: hidden;
	margin: 0 0 0 -4px;
	width: 34px;
	height: 34px;
	border: #fff 2px solid;
	border-radius: 50%;
}

.author-name-tooltip {
	position: absolute;
	bottom: 105%;
	z-index: 999;
	display: block;
	padding: 2px 8px;
	color: white;
	font-size: 1.2rem;
	letter-spacing: 0.2px;
	white-space: nowrap;
	background: #15171a;
	border-radius: 3px;
	box-shadow: rgba(39, 44, 49, 0.08) 0 12px 26px,
		rgba(39, 44, 49, 0.03) 1px 3px 8px;
	opacity: 0;
	transition: all 0.35s cubic-bezier(0.4, 0.01, 0.165, 0.99);
	transform: translateY(6px);
	pointer-events: none;
}

.author-list-item:hover .author-name-tooltip {
	opacity: 1;
	transform: translateY(0px);
}

@media (max-width: 700px) {
	.author-name-tooltip {
		display: none;
	}
}

.post-card-byline-content {
	flex: 1 1 50%;
	display: flex;
	flex-direction: column;
	margin: 2px 0 0 6px;
	color: rgb(146, 163, 171);
	font-size: 1.2rem;
	line-height: 1.4em;
	font-weight: 400;
	letter-spacing: 0.2px;
	text-transform: uppercase;
	// edit
	.post-feed & {
		background-color: white;
		border-radius: 8px;
		padding: 2px 8px 2px 40px;
		margin-left: -30px;
	}

	span {
		margin: 0;
	}

	a {
		color: rgb(66, 72, 82);
		font-weight: 600;
	}
}

.post-card-byline-date {
	font-size: 1.2rem;

	.bull {
		display: inline-block;
		margin: 0 4px;
		opacity: 0.6;
	}
}

.single-author-byline {
	display: flex;
	flex-direction: column;
	margin-left: 5px;
	color: rgb(93, 113, 121);
	font-size: 1.3rem;
	line-height: 1.4em;
	font-weight: 500;
}

.single-author {
	display: flex;
	align-items: center;

	.static-avatar {
		margin-left: -2px;
	}
}

.single-author-name {
	display: inline-block;
}

/* Special Styling for home page grid (below):

The first post in the list is styled to be bigger than the others and take over
the full width of the grid to give it more emphasis. Wrapped in a media query to
make sure this only happens on large viewports / desktop-ish devices.

 */

@media (min-width: 795px) {
	.post-card-large {
		flex: 1 1 100%;
		flex-direction: row;
		padding-bottom: 20px;
		min-height: 280px;
		border-top: 0;

		&:hover {
			border-bottom-color: rgb(227, 233, 237);
		}

		&:not(.no-image) .post-card-header {
			margin-top: 0;
		}

		.post-card-image-link {
			position: relative;
			flex: 1 1 auto;
			margin-bottom: 0;
			min-height: 380px;
		}

		.post-card-image {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		.post-card-content {
			flex: 0 1 361px;
			justify-content: center;
			padding-left: 40px;
		}

		.post-card-title {
			margin-top: 0;
			font-size: 3.2rem;
		}

		.post-card-content-link,
		.post-card-meta {
			// padding: 0 0 0 40px;
		}

		.post-card-excerpt p {
			margin-bottom: 1.5em;
			font-size: 1.8rem;
			line-height: 1.5em;
		}
	}
}

/* Adjust some margins for smaller screens */

@media (max-width: 1170px) {
	.post-card {
		margin-bottom: 2vw;
	}
}

@media (max-width: 650px) {
	.post-feed {
		padding-top: 5vw;
	}

	.post-card {
		margin-bottom: 5vw;
	}
}

@media (max-width: 500px) {
	.post-card-title {
		font-size: 1.9rem;
	}

	.post-card-excerpt {
		font-size: 1.6rem;
	}
}
